<%- include('../partials/header') %>

<h2>Notes</h2>
<div class="notes-container">
  <% notes.forEach(function(note) { %>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><%= note.name %></h5>
      <a href="/notes/<%= note.id %>" class="card-link">Detail Page</a>
    </div>
  </div>
  <% }); %>
</div>

<%- include('../partials/footer') %>
